body {
	line-height: 1.3;
}


.video {
	position: relative;
	width: 640px;
	display: flex;
	flex-flow: column;
	background: #000;
}


#timecode-raf {
	position: absolute;
	top: 2px;
	right: 2px;
}


#timecode-cuechange {
	position: absolute;
	top: calc(4px + 1.9em);
	right: 2px;
}


.toolbar {
	display: flex;
	flex-flow: row;
	background: #111;
	color: #fafafa;
}


button {
	border: none;
	background: transparent;
	color: #777;
	height: 64px;
	width: 64px;
	position: relative;
	font-size: 80%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}


button:hover {
	outline: none;
	color: #fafafa;
	background: #fff2;
}


button.active > .inactive,
button > .active {
	display: none;
}


button > .inactive,
button.active > .active {
	pointer-events: none;
	display: inline;
}


svg {
	height: 32px;
	width: 100%;
	fill: currentColor;
}


.scrubber {
	appearance: none;
	-webkit-appearance: none;
	background: linear-gradient(#777,#777) no-repeat, #222;
	background-size: var(--scrubber-value, 0%) 100%;
	margin: 1px;
	height: 3px;
}
